/* GENERAL */

:root {
  --blue: #0065fc;
  --blue-light: #deebff;
  --gray: #f2f2f2;
}

.container {
  font-family: "Raleway", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.blue {
  color: var(--blue);
}

.blue-light {
  color: var(--blue-light);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1,
h3,
h4 {
  font-weight: bold;
}

h1 {
  margin-bottom: 15px;
  font-size: 1.4rem;
}

strong {
  font-weight: bold;
}

input::placeholder {
  color: black;
  font-weight: bold;
}

/* HEADER */

header {
  display: grid;
  align-items: center;
  margin: auto;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "logo . nav inscription";
}

.logo {
  grid-area: logo;
  padding: 0 40px;
}

nav {
  display: flex;
  align-items: center;
  grid-area: nav;
}

.navigation {
  padding: 50px;
  font-weight: 500;
  text-align: center;
  border-top: 3px transparent solid;
  border-bottom: 3px transparent solid;
}

.nav-accommodations {
  color: var(--blue);
  border-top: 3px solid var(--blue);
}

.navigation:hover {
  color: var(--blue);
  border-top: 3px solid var(--blue);
}

.inscription {
  display: flex;
  align-items: center;
  grid-area: inscription;
  padding-right: 40px;
  color: var(--blue);
  font-weight: 600;
}

/* Main */

.cta {
  margin-left: 40px;
}

/* SEARCH */

form {
  margin: 25px 0px;
  height: 50px;
  width: 420px;
  display: flex;
}
form span i {
  padding: 7px;
}

form > span,
input,
button {
  padding: 10px;
  border: var(--gray) solid 1px;
}

.search-marker {
  background-color: var(--gray);
  border-radius: 10px 0 0 10px;
  display: flex;
}

.search-button {
  background-color: var(--blue);
  color: var(--gray);
  font-weight: 700;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fas.fa-search {
  display: none;
}

/* FILTERS */

.filters {
  display: flex;
  margin-bottom: 10px;
  margin-top: 2px;
  font-weight: 700;
}

.filters-border {
  border: 2px solid var(--gray);
  padding: 5px;
  margin-right: 25px;
  border-radius: 50px;
}

.filters-border:hover {
  transform: scale(1.1);
}

.filters-border i {
  border: 2px solid var(--gray);
  background-color: var(--blue-light);
  padding: 16px;
  border-radius: 50px;
  margin: -8px;
  margin-right: 2px;
  color: var(--blue);
}

.economique {
  width: 155px;
}

.familial {
  width: 120px;
}

.romantique {
  width: 160px;
}

.animaux {
  width: 200px;
}

.filters h4 {
  padding: 17px 35px 17px 0px;
}

.search-result {
  display: flex;
  align-items: center;
}

.fas.fa-info {
  color: var(--blue);
  border: 2px solid var(--gray);
  border-radius: 100%;
  padding: 5px 5px;
  margin-right: 12px;
}

/* ACCOMMODATIONS MARSEILLE */

.accommodations-and-populars {
  display: flex;
}

.titles-accommodations-and-populars {
  margin: 25px 0px 30px 0px;
}

.afficher-plus {
  margin: 25px 0px;
}

figcaption p {
  font-size: 0.9rem;
}

.accommodations {
  width: 67%;
  min-height: 625px;
  margin: 40px 30px 40px 40px;
  padding: 20px;
  background-color: var(--gray);
  border-radius: 25px;
}

.accommodations ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.accommodations ul li figure {
  background: white;
  border-radius: 8px;
  padding: 4px;
  line-height: 1.6rem;
  box-shadow: 0 0 10px #c1c1c1;
  box-sizing: border-box;
}

.accommodations ul li img {
  height: 114px;
  min-width: 238px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.accommodations-frame {
  height: 200px;
  min-width: 250px;
  margin-bottom: 30px;
}

.accommodations-frame:hover {
  transform: scale(1.1);
}

figcaption {
  margin-left: 16px;
}

/* ASIDE */

aside {
  min-width: 33%;
  display: flex;
  flex-direction: column;
  min-height: 625px;
  margin: 40px 40px 40px 0px;
  background-color: var(--gray);
  padding: 20px;
  border-radius: 25px;
}

aside h3 {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}

aside ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside ul li figure {
  display: flex;
  height: 145px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 4px 0 4px 4px;
  line-height: 1.6rem;
  box-shadow: 0 0 10px #c1c1c1;
}

aside ul li figure figcaption {
  display: flex;
  flex-direction: column;
}

aside ul li img {
  min-height: 134px;
  max-width: 126px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.aside-populars-card {
  margin-bottom: 30px;
}

.aside-populars-card:hover {
  transform: scale(1.1);
}

.stars-aside {
  padding-top: 30px;
}

/*  ACTIVITIES MARSEILLE */

.activities {
  display: flex;
  margin-top: 30px;
}

#activities {
  margin-left: 40px;
}

.activities ul {
  display: flex;
  justify-content: space-between;
  padding-right: 45px;
}

.two-cards {
  display: flex;
  flex-direction: column;
}

.activities-card {
  display: flex;
}

.activities-card:hover {
  transform: scale(1.1);
}

.activities ul li figure {
  border-radius: 25px;
  box-shadow: 0 0 10px var(--gray);
}

.activities ul li figure figcaption {
  height: 55px;
}

.activities ul li figure figcaption h3 {
  padding: 22px 0px 20px 20px;
}

.activities ul li figure .item-1 {
  height: 390px;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
}

.activities ul li figure .item-2 {
  height: 180px;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
}

.activities ul li figure .item-3 {
  height: 110px;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
}

.activities ul li figure .item-4 {
  height: 390px;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
}

.activities ul li figure .item-5 {
  height: 155px;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
}

.activities ul li figure .item-6 {
  height: 155px;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
}

/* FOOTER */

footer {
  display: flex;
  background-color: var(--gray);
  margin-top: 60px;
  min-height: 220px;
  width: 100%;
}

.column {
  margin: 50px;
  width: 30%;
}
.column ul {
  line-height: 1.6rem;
}

.column h4 {
  padding-bottom: 0.8rem;
}

/****************** RESPONSIVE MOBILE *******************/

@media only screen and (max-width: 640px) {
  /* HEADER - MOBILE */
  header {
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-template-areas:
      "logo . inscription"
      "nav nav nav";
    padding-bottom: 35px;
  }

  .navigation {
    padding: 20px;
    border-top: none;
    border-bottom: 3px solid var(--gray);
    width: 50%;
  }

  .navigation:hover {
    border-top: none;
    border-bottom: 3px solid var(--blue);
  }

  /* SEARCH - MOBILE */

  form {
    max-width: 92%;
  }

  .search-button span {
    display: none;
  }

  .search-button {
    border-radius: 15px;
    margin-left: -20px;
    padding: 17px;
  }

  input {
    width: 100%;
  }

  .fas.fa-search {
    display: inline-block;
  }

  /* FILTERS - MOBILE */

  .filters {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: -10px;
  }

  .filters-border {
    margin-top: 20px;
    margin-right: 15px;
  }

  .search-result span {
    padding-bottom: 30px;
  }

  .fas.fa-info {
    padding: 5px;
  }

  .search-result {
    padding-top: 60px;
    line-height: 1.4rem;
  }

  /* ACCOMMODATIONS MARSEILLE - MOBILE */
  .accommodations-and-populars {
    display: flex;
    flex-direction: column-reverse;
  }

  .accommodations {
    background-color: white;
    margin: auto;
    max-width: 100%;
  }

  .accommodations ul {
    display: block;
    padding-top: 30px;
  }

  .accommodations ul li img {
    min-width: 100%;
  }
  /* ASIDE - MOBILE */

  aside {
    margin: 40px auto;
    width: 100%;
    border-radius: 0;
    flex-direction: column;
  }
  aside ul {
    margin: auto;
    width: 100%;
  }

  aside ul li figure {
    width: 92%;
  }

  .titles-accommodations-and-populars {
    margin: 0 45px 0 0;
  }

  /*  ACTIVITIES MARSEILLE - MOBILE*/
  .activities {
    display: flex;
    flex-direction: column;
  }

  .activities li {
    padding-top: 20px;
  }

  .activities ul li figure {
    text-align: left;
  }

  .activities ul li figure .item-1 {
    width: 100%;
    height: 190px;
  }

  .activities ul li figure .item-2 {
    width: 100%;
    height: 190px;
  }

  .activities ul li figure .item-3 {
    width: 100%;
    height: 190px;
  }

  .activities ul li figure .item-4 {
    width: 100%;
    height: 190px;
  }

  .activities ul li figure .item-5 {
    width: 100%;
    height: 190px;
  }

  .activities ul li figure .item-6 {
    width: 100%;
    height: 190px;
  }
  /* FOOTER - MOBILE */

  footer {
    display: flex;
    flex-flow: column;
  }

  .column {
    margin: 50px 0 0px 30px;
    width: 100%;
  }
}

.column-3 {
  margin-bottom: 50px;
}
/****************** RESPONSIVE TABLETTE ******************/

@media only screen and (min-width: 641px) and (max-width: 1060px) {
  /* HEADER - TABLETTE */
  .inscription {
    padding: 20px;
  }

  .navigation {
    padding-right: 20px;
  }
  /* FILTERS - TABLETTE */

  .filters {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: -10px;
  }

  .filters-border {
    margin-top: 20px;
    margin-right: 15px;
  }

  .search-result {
    padding-top: 60px;
    line-height: 1.4rem;
  }

  /* ACCOMMODATIONS MARSEILLE - TABLETTE */

  .accommodations-and-populars {
    display: flex;
    flex-direction: column-reverse;
  }

  .accommodations {
    background-color: white;
    width: auto;
  }
  /* ASIDE - TABLETTE */

  aside {
    margin: auto;
    width: 95%;
    margin: 40px auto;
    border-radius: 0;
  }

  aside ul {
    margin: auto;
    width: 100%;
  }

  /* ACTIVITIES MARSEILLE - TABLETTE */
  .activities {
    display: flex;
    flex-direction: column;
  }

  .activities li {
    padding-top: 20px;
  }

  .activities ul li figure {
    text-align: left;
  }

  .activities ul li figure .item-1 {
    width: 100%;
    height: 190px;
  }

  .activities ul li figure .item-2 {
    width: 100%;
    height: 190px;
  }

  .activities ul li figure .item-3 {
    width: 100%;
    height: 190px;
  }

  .activities ul li figure .item-4 {
    width: 100%;
    height: 190px;
  }

  .activities ul li figure .item-5 {
    width: 100%;
    height: 190px;
  }

  .activities ul li figure .item-6 {
    width: 100%;
    height: 190px;
  }
}
