/* GENERAL */

:root {
  --blue: #0065fc;
  --blue-light: #deebff;
  --gray: #f2f2f2;
}

.container {
  font-family: "Raleway", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

.blue {
  color: var(--blue);
}

.blue-light {
  color: var(--blue-light);
}

li {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: black;
}

h1,
h3,
h4 {
  font-weight: bold;
}

/* HEADER */

header {
  grid-area: header;
  margin: 15px 40px;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li:first-child {
  margin-right: auto;
  margin-left: 0;
}

header nav ul li {
  margin-left: 30px;
}

nav li a:hover {
  color: var(--blue);
  border-top: 2px solid var(--blue);
}

.inscription {
  color: var(--blue);
  font-weight: 700;
}

/* Main */

.cta {
  grid-area: cta;
  margin-left: 40px;
}

/* SEARCH */

form {
  margin-top: 15px;
  margin-bottom: 30px;
  height: 50px;
}

.search-marker {
  background-color: var(--gray);
}

.search-button {
  background-color: var(--blue);
  color: var(--gray);
  font-weight: 700;
}

/* FILTERS */

.filters {
  display: flex;
  margin-bottom: 15px;
  font-weight: 700;
}

.filters-border {
  border: 2px solid var(--gray);
}

/* SECTION HEBERGEMENTS MARSEILLE*/

.accommodations-and-populars {
  display: flex;
}

.accommodations {
  width: 67%;
  margin: 30px 30px 0px 40px;
  padding: 20px;
  background-color: var(--gray);
  border-radius: 25px;
}

.accommodations ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.accommodations ul li figure {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  padding: 4px;
  text-align: center;
  line-height: 1.6rem;
}

.accommodations ul li img {
  height: 120px;
  width: 242px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.accommodations-frame {
  height: 220px;
  width: 250px;
}

/* ASIDE */

aside {
  width: 33%;
  margin-right: 40px;
  margin-top: 30px;
  background-color: var(--gray);
  padding: 20px;
  border-radius: 25px;
}

aside ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside ul li figure {
  display: flex;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  padding: 4px;
  text-align: center;
  line-height: 1.6rem;
}

aside ul li img {
  height: 120px;
  width: 121px;
  margin-right: 20px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.aside-populars-card {
  width: 100%;
  height: 150px;
}

/* SECTION ACTIVITIES */
.activities {
  grid-area: activities;
  margin-left: 40px;
  margin-top: 40px;
}

.activities-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 5%;
  margin-right: 40px;
  grid-template-areas:
    "item-1 item-2 item-4 item-5"
    "item-1 item-3 item-4 item-6";
}

.activities-card figure img {
  width: 100%;
  height: 75%;
}

.activities-half-card img {
  height: 30vh;
  width: 100%;
}

.item-1 {
  grid-area: item-1;
}

.item-2 {
  grid-area: item-2;
}

.item-3 {
  grid-area: item-3;
}

.item-4 {
  grid-area: item-4;
}

.item-5 {
  grid-area: item-5;
}

.item-6 {
  grid-area: item-6;
}

/* FOOTER */

footer {
  grid-area: footer;
}

.mini-container {
  display: flex;
  background-color: var(--gray);
  max-width: 1440px;
  margin-top: 40px;
}

.column {
  align-items: center;
  margin: 50px;
  width: 30%;
}
.column ul {
  line-height: 1.6rem;
}

.column h4 {
  line-height: 3.4rem;
}
