/* GENERAL */

* {
  font-family: "Raleway", sans-serif;
}

.container {
  display: grid;
  margin: 50px 0 0 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "cta cta"
    "accommmodation aside"
    " activities activities";
}

.blue {
  color: #0065fc;
}

.blue-light {
  color: #deebff;
}

li {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: black;
}

h1,
h4 {
  font-weight: bold;
}

/* HEADER */

header {
  grid-area: header;
  margin-bottom: 50px;
}

h2 {
  float: left;
}

nav ul li a {
  float: right;
  padding: 15px;
}

nav li a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

.inscription {
  color: #0065fc;
  font-weight: 700;
}
/* Main */

/* SEARCH */
.cta {
  grid-area: cta;
}

form {
  margin-top: 15px;
  margin-bottom: 30px;
  height: 50px;
}

.search-marker {
  background-color: #f2f2f2;
}

.search-button {
  background-color: #0065fc;
  color: #fff;
  font-weight: 700;
}

/* FILTERS */

.filters {
  display: flex;
  margin-bottom: 15px;
  font-weight: 700;
}

.filters-border {
  border: 2px solid #f2f2f2;
}

.accommodation {
  grid-area: accomodation;
}

.activities {
  grid-area: activities;
}

/* FOOTER */

.container-footer {
  display: flex;
  background-color: #f2f2f2;
}

.column {
  align-items: center;
  margin: 50px;
}
.column ul {
  line-height: 1.6rem;
}

.column h4 {
  line-height: 3.4rem;
}
